/* VARIABLES */

:root {
  --active-black: rgba(0, 0, 0, 0.3);
  --active-btn-gray: #D5D5D5;
  --active-btn-green: #00AA62;
  --active-btn-red: #D7373B;
  --active-btn-yellow: #E5A722;
  --active-gradient: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  --active-white: rgba(255, 255, 255, 0.3);
  --basic-black: #000000;
  --basic-btn-gray: #EEEEEE;
  --basic-btn-green: #00CA74;

  /* BUTTONS */
  --basic-btn-red: #FB565A;
  --basic-btn-yellow: #EFC84A;
  --basic-dark: #283136;
  --basic-dark-gray: #444444;

  /* GRADIENTS */
  --basic-gradient: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  --basic-gray: #666666;

  /* BACKGROUND-COLOR */
  --basic-light-gray: #EEEEEE;

  /* TEXT */
  --basic-white: #FFFFFF;
  --goods-border: rgba(0, 0, 0, 0.1);
  --hover-btn-gray: #DFDFDF;
  --hover-btn-green: #00BC6C;
  --hover-btn-red: #E74246;
  --hover-btn-yellow: #EAB534;
  --hover-gradient: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
  --hover-red: #FB565A;
  --pagination-bg: rgba(0, 0, 0, 0.0001);

  /* BORDER */
  --pagination-border: #DBDBDB;

  /* BOX SHADOW */
  --shadow-color: rgba(0, 1, 1, 0.1);
  --shadow-goods-color: rgba(0, 1, 1, 0.25);
}

/* GLOBAL */

.page {
  height: 100%;
}

.page__body {
  display: grid;

  grid-template-rows: min-content 1fr max-content;

  margin: 0;
  padding: 0;

  min-width: 1200px;
  min-height: 100%;

  background-color: var(--basic-white);

  color: var(--basic-black);

  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;

  line-height: 24px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

/* HEADER */

.current__link {
  border-bottom: 2px solid var(--hover-red);
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  width: 1200px;
}

.main__header {
  background-color: var(--basic-light-gray);
}

.main__nav {
  display: grid;

  grid-template-columns: min-content 1fr max-content;
  grid-template-rows: 121px;

  align-items: end;

  gap: 202px;
}

.main__header__logo {
  width: 160px;
}

.main__nav__list {
  display: flex;

  justify-content: space-between;

  padding: 0;

  width: 437px;
}

.main__nav__list {
  list-style: none;
}

.main__nav__link {
  padding-bottom: 19px;

  color: var(--basic-black);

  text-transform: uppercase;

  font-weight: 500;

  line-height: 30px;
}

.nav__list {
  padding: 0;

  list-style: none;
}

.nav__link {
  position: relative;

  padding-bottom: 19px;
  padding-left: 39px;

  color: var(--basic-black);

  text-transform: uppercase;

  font-weight: 500;

  line-height: 30px;
}

.nav__link::before {
  position: absolute;
  top: 1px;
  left: -1.5px;

  display: block;

  width: 15px;
  height: 15px;

  background-image: url(../img/cart-icon.svg);

  content: "";
}

.main__nav__link:hover,
.nav__link:hover {
  color: var(--hover-red);
}

.main__nav__link:active,
.nav__link:active {
  color: var(--active-black);
}

.nav__item--current {
  border-bottom: 2px solid var(--hover-red);
}


/* MAIN */

/* ADVANTAGES */

.advantages {
  margin-bottom: 79px;

  background-color: var(--basic-light-gray);
}

.advantages__wrapper {
  position: relative;
}

.advantages__list {
  display: grid;

  margin: 0;
  padding: 0;

  list-style: none;
}


.advantages__item {
  margin-top: -6px;
  padding-top: 76px;

  height: 431px;

  background-position: 99.3% 0;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url(../img/slide1.png);
}

.slide2 {
  background-image: url(../img/slide2.png);
}

.slide3 {
  background-image: url(../img/slide3.png);
}

.advantages__title {
  margin: 0;
  margin-bottom: 26px;

  width: 518px;

  font-weight: 500;
  font-size: 55px;

  line-height: 56px;
}

.advantages__text {
  margin-bottom: 52px;

  width: 362px;

  color: var(--basic-dark);
}

.slide2__text {
  margin-top: 37px;
  margin-bottom: 41px;

  width: 410px;
}

.slide3__text {
  margin-top: 37px;
  margin-bottom: 41px;

  width: 340px;
}

.advantages__link {
  padding: 16px 55px 15px 54px;

  border-radius: 3px;

  background-color: var(--basic-btn-red);

  color: var(--basic-white);

  text-transform: uppercase;

  font-weight: 500;

  line-height: 18px;
}

.button:hover {
  background-color: var(--hover-btn-red);
}

.button:active {
  background-color: var(--active-btn-red);

  box-shadow: inset 0 3px 0 var(--shadow-color);
  color: var(--active-white);
}

.advantages__slider {
  position: absolute;
  bottom: 100px;
  left: 560px;

  display: flex;

  justify-content: space-between;

  width: 88px;
}

.advantages__label {
  display: inline-block;
}

.radio__inner {
  position: relative;

  cursor: pointer;
}

.radio__inner::before {
  position: absolute;
  top: -15px;
  left: -4px;

  width: 18px;
  height: 18px;

  background-image: url(../img/radio.svg);

  content: "";
}

.radio2::before {
  left: -13px;
}

.radio3::before {
  left: -22px;
}

.radio:checked+.radio__inner:before {
  background-image: url(../img/radio-checked.svg);
}

/* SERVICES */

.services {
  margin-bottom: 109px;
}

.border__bottom {
  position: relative;
}

.border__bottom::after {
  position: absolute;
  bottom: -82px;
  left: 20px;

  display: block;

  width: 1158px;
  height: 2px;

  border-bottom: 2px solid var(--basic-light-gray);

  content: "";
}

.services__content {
  display: flex;

  flex-direction: column;
  justify-content: flex-end;

  min-height: 347px;
  width: 360px;

  background-repeat: no-repeat;
}

.service__pic1 {
  background-image: url(../img/pic1.jpg);
}

.service__pic2 {
  background-image: url(../img/pic2.jpg);
}

.service__pic3 {
  background-image: url(../img/pic3.jpg);
}

.services__wrapper {
  display: grid;

  grid-template-areas: "service__pic1 service__pic2 service__pic3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  justify-content: space-between;

  gap: 40px;
}

.services__content__title {
  margin: 0;
  margin-bottom: 16px;

  text-transform: uppercase;

  font-weight: 700;
  font-size: 24px;

  line-height: 30px;
}

.services__content__text {
  margin: 0;
  margin-bottom: 32px;

  width: 260px;

  color: var(--basic-dark);
}

.services__content__link {
  padding: 17px 40px 15px 39px;

  width: 160px;

  border-radius: 3px;

  color: var(--basic-white);

  text-transform: uppercase;

  font-weight: 500;

  line-height: 18px;
}

.button-red {
  background-color: var(--basic-btn-red);
}

.button-green {
  background-color: var(--basic-btn-green);
}

.button-green:hover {
  background-color: var(--hover-btn-green);
}

.button-green:active {
  background-color: var(--active-btn-green);
}

.button-yellow {
  background-color: var(--basic-btn-yellow);
}

.button-yellow:hover {
  background-color: var(--hover-btn-yellow);
}

.button-yellow:active {
  background-color: var(--active-btn-yellow);
}

/* ABOUT */

.about {
  margin-bottom: 106px;
}

.about__wrapper {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.about__desc__slogan {
  margin-bottom: 32px;

  width: 651px;

  font-weight: 500;
  font-size: 45px;

  line-height: 46px;
}

.about__desc__text {
  margin-bottom: 40px;

  color: var(--basic-dark);
}

.about__desc__title {
  margin-bottom: 23.5px;

  text-transform: uppercase;

  font-weight: 700;
}

.about__desc__list {
  padding-left: 36px;

  list-style: none;
}

.about__desc__item {
  position: relative;

  margin-bottom: 24px;

  color: var(--basic-dark);
}

.about__desc__item::before {
  position: absolute;
  top: 11.5px;
  left: -36px;

  display: block;

  width: 25px;
  height: 2px;

  border-bottom: 2px solid var(--hover-red);

  content: "";
}

.about__content {
  padding-top: 12px;

  width: 360px;

  justify-self: end;
}

.about__content__img {
  margin-bottom: 30px;
}

.about__content__title {
  margin: 0;
  margin-bottom: 30px;

  text-align: center;

  text-transform: uppercase;

  font-weight: 700;
}

.about__content__list {
  display: grid;

  grid-template-columns: min-content min-content min-content;
  grid-template-rows: auto;

  margin: 0;
  padding: 0;

  list-style: none;

  gap: 0 20px;
}

.about__content__item {
  margin: 0;

  width: 100px;

  color: var(--basic-dark);

  line-height: 18px;
}

.about__content__level {
  position: relative;

  padding-right: 20px;

  color: var(--basic-black);

  font-weight: 700;
  font-size: 45px;

  line-height: 64px;
}

.about__content__level::after {
  position: absolute;
  top: -13px;
  right: 0;

  content: "%";

  font-size: 25px;
}

.about__content__text {
  margin: 0;
  padding-top: 13px;
}

/* CLIENTS */

.clients__list {
  position: relative;

  display: grid;

  grid-template-columns: 260px 260px 260px 260px;

  justify-items: center;

  margin-bottom: 116px;
  padding: 0;

  list-style: none;

  gap: 40px;
}

.clients__list::before,
.clients__list::after {
  position: absolute;
  bottom: -37px;
  left: 0;

  display: block;

  width: 1158px;
  height: 2px;

  border-bottom: 2px solid var(--basic-light-gray);

  content: "";
}

.clients__list::before {
  top: -57px;
}

.clients__item {
  display: flex;

  align-items: center;

  width: 209px;
  height: 90px;
}

.clients__item__position2::after,
.clients__item__position3::after,
.clients__item__position4::after {
  position: absolute;
  top: 10px;
  left: 279px;

  width: 2px;
  height: 52px;

  border-right: 2px solid var(--basic-light-gray);

  content: "";
}

.clients__item__position3::after {
  left: 579px;
}

.clients__item__position4::after {
  left: 879px;
}

.clients__item__position1 {
  padding-top: 1px;
  padding-left: 7px;
}

.clients__item__position2 {
  padding-bottom: 8px;
  padding-left: 1px;
}

.clients__item__position3 {
  padding-bottom: 10px;
  padding-left: 14px;
}

.clients__item__position4 {
  padding-bottom: 3px;
  padding-left: 19px;
}

.clients__img {
  opacity: 0.2;
}

.clients__item:hover .clients__img {
  opacity: 1;
}

.clients__item:active .clients__img {
  opacity: 0.1;
}

/* FOOTER */

/* CONTACTS */

.contacts {
  margin-bottom: 47px;
}

.contacts__wrapper {
  position: relative;

  margin: 0 auto;

  width: 1440px;
}

.contacts__inner {
  position: absolute;
  top: 54px;
  left: 140px;

  display: flex;

  flex-direction: column;

  padding-top: 49px;
  padding-left: 50px;

  width: 319px;
  height: 308px;

  background-color: var(--basic-white);
}

.contacts__title {
  margin: 0;
  margin-bottom: 8px;

  text-transform: uppercase;

  font-weight: 700;
  font-size: 18px;

  line-height: 30px;
}

.contacts__adress {
  width: 207px;
}

.contacts__adress,
.contacts__phone {
  color: var(--basic-gray);

  line-height: 18px;
}

.contacts__phone {
  margin-bottom: 38px;
}

.contacts__link {
  padding: 17px 44px 15px;

  width: 219px;

  border-radius: 3px;

  background-color: var(--basic-btn-red);

  color: var(--basic-white);

  text-transform: uppercase;

  font-weight: 500;

  line-height: 18px;
}

/* SOCIAL */

.social {
  margin-bottom: 60px;
}

.social__wrapper {
  display: grid;

  grid-template-columns: 260px 1fr;
  grid-template-rows: auto;

  gap: 140px;
}

.social__list {
  display: flex;

  justify-content: space-between;

  padding-left: 0;

  list-style: none;
}

.social__item {
  width: 81px;
  height: 81px;

  border-radius: 50%;

  background: var(--basic-gradient);
}

.social__item:hover {
  background: var(--hover-gradient);
}

.social__item:active {
  background: var(--active-gradient);
}

.social__item:active .social__link {
  opacity: 0.3;
}

.social__link {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 81px;
  height: 81px;

  border-radius: 50%;
}

/* PROMO */

.promo__title {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 22px;

  font-weight: 700;
  font-size: 36px;

  line-height: 36px;
}

.promo__text {
  margin: 0;

  color: var(--basic-dark-gray);

  line-height: 22px;
}



/* CATALOG.HTML */

/* MAIN */

.catalog__wrapper {
  display: grid;

  grid-template-areas: "filter sort"
    "filter goods";
  grid-template-columns: 360px 760px;
  grid-template-rows: min-content min-content;

  column-gap: 40px;
}

.filter {
  grid-area: filter;
}

.sort {
  grid-area: sort;
}

.goods {
  grid-area: goods;
}

.page__title {
  margin: 0;
  padding-top: 71px;
  padding-right: 17px;
  padding-bottom: 108px;

  background-color: var(--basic-light-gray);

  text-align: center;

  font-weight: 500;
  font-size: 55px;

  line-height: 55px;
}

/* FILTER */

.filter__group__grid {
  display: flex;
}

.filter__group__features {
  display: flex;
}

fieldset {
  border: none;
}

.filter__title {
  padding-top: 36px;
  margin-bottom: 20px;

  text-transform: uppercase;

  font-weight: 700;
  font-size: 18px;

  line-height: 30px;
}

.filter__grid {
  position: relative;

  margin-bottom: 25px;
}

.filter__grid,
.filter__features {
  color: var(--basic-dark);
}

.filter__button {
  padding: 17px 89px 15px 88px;

  border: none;
  border-radius: 3px;

  background-color: var(--basic-btn-gray);

  text-transform: uppercase;

  font-weight: 500;

  line-height: 18px;
}

.filter__button:hover {
  background-color: var(--hover-btn-gray);
}

.filter__button:active {
  background-color: var(--active-btn-gray);

  box-shadow: inset 0 3px 0 var(--shadow-color);
  color: var(--active-black);
}

.filter__button:focus {
  outline: none;
}

.filter__radio {
  margin-bottom: 25px;
  padding-left: 36px;

  opacity: 0.4;
}

.filter__radio::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-off.svg);

  content: "";
}

.radio__grid:checked+.filter__radio::before {
  background-image: url(../img/radio-on.svg);
}

.filter__radio:hover {
  opacity: 1;
}

.filter__radio:active {
  opacity: 0.1;
}

.filter__features {
  position: relative;

  margin-bottom: 20px;
}


.filter__checkbox {
  padding-left: 36px;

  opacity: 0.4;
}

.filter__checkbox::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 26px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;

  content: "";
}

.checkbox__features:checked+.filter__checkbox::before {
  background-image: url(../img/checkbox-on.svg);
}

.filter__checkbox:hover {
  opacity: 1;
}

.filter__checkbox:active {
  opacity: 0.1;
}

/* SORT */

.sort {
  display: flex;

  align-items: center;
  justify-content: space-between;

  margin-bottom: 15px;

  width: 760px;
}

.sort__title {
  padding-top: 37px;

  text-transform: uppercase;

  font-weight: 700;
  font-size: 18px;

  line-height: 30px;
}

.sort__list {
  display: grid;

  grid-template-columns: repeat(5, max-content);

  padding: 0;
  padding-top: 35px;

  width: 360px;

  list-style: none;

  font-size: 14px;

  column-gap: 28px;
}

.sort__link {
  color: inherit;
}

.sort__item {
  text-transform: uppercase;

  opacity: 0.3;
}

.sort__item:hover {
  opacity: 0.6;
}

.sort__item:active {
  opacity: 1;
}

.sort__item--current {
  opacity: 1;
}

.sort__link__down {
  display: inline-block;

  width: 11px;
  height: 10px;

  background-image: url(../img/icon-down-dir.svg);
}

.sort__link__up {
  display: inline-block;

  width: 11px;
  height: 10px;

  background-image: url(../img/icon-up-dir.svg);
}

/* GOODS */

.goods__list {
  display: grid;

  grid-template-columns: 360px 360px;

  margin-bottom: 20px;
  padding-left: 1px;

  list-style: none;

  column-gap: 40px;
}

.goods__item {
  position: relative;

  display: flex;

  align-items: flex-end;

  margin-bottom: 31px;

  width: 358px;
  height: 620px;

  border-radius: 5px;

  background-image: url(../img/bar-light.svg);
  background-position: center top;
  background-repeat: no-repeat;
}

.goods__inner {
  overflow: hidden;

  width: 358px;
  height: 580px;

  border: 1px solid var(--goods-border);
  border-radius: 0 0 5px 5px;

  background-color: var(--basic-light-gray);
}

.goods__item:hover .goods__inner {
  border: 1px solid var(--basic-white);
}

.goods__item:hover {
  background-image: url(../img/bar.svg);

  box-shadow: 0 6px 15px var(--shadow-goods-color);
}

.goods__popup {
  position: absolute;
  bottom: 1px;
  left: 1px;

  display: none;

  width: 356px;
  height: 231px;

  border-radius: 0 0 5px 5px;

  background-color: var(--basic-light-gray);
}

.goods__item:hover .goods__popup {
  display: block;
}

.goods__popup__title {
  margin: 26px 0 12px;

  text-align: center;

  text-transform: uppercase;

  font-weight: 700;
  font-size: 18px;

  line-height: 30px;
}

.goods__popup__title:hover {
  color: var(--hover-red);
}

.goods__popup__title:active {
  color: var(--active-black);
}

.goods__popup__link {
  color: inherit;
}

.goods__popup__text {
  margin: 0 auto 32px;

  width: 230px;

  color: var(--basic-gray);

  text-align: center;
}

.goods__popup__button {
  display: block;

  margin: 0 auto;
  padding: 17px 72px 15px;

  width: 200px;

  border-radius: 3px;

  background-color: var(--basic-btn-red);

  color: var(--basic-white);

  text-transform: uppercase;

  font-weight: 500;

  line-height: 18px;
}

.goods__popup__button:hover {
  background-color: var(--hover-btn-red);
}

.goods__popup__button:active {
  background-color: var(--active-btn-red);

  box-shadow: inset 0 3px 0 var(--shadow-color);
}

.goods__pagination__list {
  display: flex;

  justify-content: space-between;

  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  width: 443px;

  list-style: none;

  text-transform: uppercase;
}

.goods__pagination__link {
  display: block;

  width: 50px;
  height: 50px;

  border-radius: 3px;

  background-color: var(--basic-btn-gray);

  color: inherit;

  text-align: center;

  line-height: 50px;
}

.goods__next {
  width: 260px;
}

.goods__pagination__link:hover {
  background-color: var(--hover-btn-gray);
}

.goods__pagination__link:active {
  background-color: var(--active-btn-gray);

  box-shadow: inset 0 3px 0 var(--shadow-color);
}

.goods__pagination__link--current {
  box-sizing: border-box;

  border: 3px solid var(--pagination-border);
  border-radius: 3px;

  background: var(--pagination-bg);
}