/* VARIABLES */

:root {
  /* TEXT */
  --basic-white: #fff;
  --basic-black: #000;
  --basic-dark: #283136;
  --basic-gray: #666;
  --basic-dark-gray: #444;

  --hover-red: #FB565A;

  --active-white: rgba(255, 255, 255, .3);
  --active-black: rgba(0, 0, 0, .3);

  /* BUTTONS */
  --basic-btn-red: #FB565A;
  --basic-btn-green: #00CA74;
  --basic-btn-yellow: #EFC84A;
  --basic-btn-gray: #EEE;

  --hover-btn-red: #E74246;
  --hover-btn-green: #00BC6C;
  --hover-btn-yellow: #EAB534;
  --hover-btn-gray: #DFDFDF;

  --active-btn-red: #D7373B;
  --active-btn-green: #00AA62;
  --active-btn-yellow: #E5A722;
  --active-btn-gray: #D5D5D5;

  /* BACKGROUND-COLOR */
  --basic-light-gray: #EEE;
  --pagination-bg: rgba(0, 0, 0, 0.0001);

  /* BOX SHADOW */
  --shadow-color: rgba(0, 1, 1, 0.1);

  /* BORDER */
  --pagination-border: #DBDBDB;
}

/* GLOBAL */

.page__body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

/* HEADER */

.main__nav__list {
  list-style: none;
}

.main__nav__link {
  font-weight: 500;
  line-height: 30px;

  text-transform: uppercase;

  color: var(--basic-black);
}

.nav__list {
  list-style: none;
}

.nav__link {
  font-weight: 500;
  line-height: 30px;

  text-transform: uppercase;

  color: var(--basic-black);
}

.main__nav__link:hover,
.nav__link:hover {
  color: var(--hover-red);
}

.main__nav__link:active,
.nav__link:active {
  color: var(--active-black);
}

/* MAIN */

/* ADVANTAGES */

.advantages {
  background-color: var(--basic-light-gray);
}

.advantages__list {
  list-style: none;
}

.advantages__title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.advantages__text {
  color: var(--basic-dark)
}

.advantages__link {
  font-weight: 500;
  line-height: 18px;

  text-transform: uppercase;

  color: var(--basic-white);

  background-color: var(--basic-btn-red);
  border-radius: 3px;

  padding: 17px 54px 15px;
}

.button:hover {
  background-color: var(--hover-btn-red);
}

.button:active {
  background-color: var(--active-btn-red);

  box-shadow: inset 0px 3px 0px var(--shadow-color);

  color: var(--active-white);
}

/* SERVICES */

.services__content__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.services__content__text {
  color: var(--basic-dark);
}

.services__content__link {
  font-weight: 500;
  line-height: 18px;

  text-transform: uppercase;

  color: var(--basic-white);

  border-radius: 3px;

  padding: 17px 40px 15px 39px;
}

.button-red {
  background-color: var(--basic-btn-red);
}

.button-green {
  background-color: var(--basic-btn-green);
}

.button-green:hover {
  background-color: var(--hover-btn-green);
}

.button-green:active {
  background-color: var(--active-btn-green);
}

.button-yellow {
  background-color: var(--basic-btn-yellow);
}

.button-yellow:hover {
  background-color: var(--hover-btn-yellow);
}

.button-yellow:active {
  background-color: var(--active-btn-yellow);
}

/* ABOUT */

.about__desc__slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about__desc__text {
  color: var(--basic-dark);
}

.about__desc__title {
  font-weight: 700;

  text-transform: uppercase;
}

.about__desc__list {
  list-style: none;
}

.about__desc__item {
  color: var(--basic-dark);
}

.about__content__title {
  font-weight: 700;

  text-transform: uppercase;
}

.about__content__list {
  list-style: none;
}

.about__content__item {
  line-height: 18px;

  color: var(--basic-dark);
}

.about__content__level {
  font-size: 45px;
  line-height: 64px;

  color: var(--basic-black);

  font-weight: 700;

  position: relative;

  padding-right: 20px;
}

.about__content__level::after {
  content: "%";
  position: absolute;
  top: -13px;
  right: 0px;

  font-size: 25px;
}

/* CLIENTS */

.clients__list {
  list-style: none;
}

/* FOOTER */

/* CONTACTS */

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  text-transform: uppercase;
}

.contacts__adress,
.contacts__phone {
  line-height: 18px;

  color: var(--basic-gray);
}

.contacts__link {
  font-weight: 500;
  line-height: 18px;

  color: var(--basic-white);

  background-color: var(--basic-btn-red);
  border-radius: 3px;

  padding: 17px 44px 15px;

  text-transform: uppercase;
}

/* SOCIAL */

.social__list {
  list-style: none;
}

/* PROMO */

.promo__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.promo__text {
  line-height: 22px;

  color: var(--basic-dark-gray);
}



/* CATALOG.HTML */

/* MAIN */

.page__title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

  padding: 72px 0 108px;

  text-align: center;

  background-color: var(--basic-light-gray);
}

/* FILTER */

.filter__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  text-transform: uppercase;
}

.filter__grid,
.filter__features {
  color: var(--basic-dark);
}

.filter__button {
  font-weight: 500;
  line-height: 18px;

  text-transform: uppercase;

  padding: 17px 89px 15px 88px;

  background-color: var(--basic-btn-gray);
  border-radius: 3px;
  border: none;
}

.filter__button:hover {
  background-color: var(--hover-btn-gray);
}

.filter__button:active {
  color: var(--active-black);

  background-color: var(--active-btn-gray);

  box-shadow: inset 0px 3px 0px var(--shadow-color);
}

.filter__button:focus {
  outline: none;
}

/* SORT */

.sort__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  text-transform: uppercase;
}

.sort__list {
  list-style: none;
}

.sort__link {
  color: inherit;
}

.sort__item {
  opacity: .3;
}

.sort__item:hover {
  opacity: .6;
}

.sort__item:active {
  opacity: 1;
}

.sort__item--current {
  opacity: 1;
}

/* GOODS */

.goods__list {
  list-style: none;
}

.goods__item {
  position: relative;

  width: 358px;
}

.goods__popup {
  display: none;

  background-color: var(--basic-light-gray);

  width: 100%;
  height: 231px;

  position: absolute;

  left: 0px;
  bottom: 6px;
}

.goods__item:hover .goods__popup {
  display: block;
}

.goods__popup__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  text-transform: uppercase;

  margin: 26px 0 12px;

  text-align: center;
}

.goods__popup__title:hover {
  color: var(--hover-red);
}

.goods__popup__title:active {
  color: var(--active-black);
}

.goods__popup__link {
  color: inherit;
}

.goods__popup__text {
  color: var(--basic-gray);

  text-align: center;

  margin: 0 auto 32px;

  width: 230px;
}

.goods__popup__button {
  display: block;

  width: 200px;

  font-weight: 500;
  line-height: 18px;

  text-transform: uppercase;

  color: var(--basic-white);

  background-color: var(--basic-btn-red);
  border-radius: 3px;

  padding: 17px 72px 15px;
  margin: 0 auto;
}

.goods__popup__button:hover {
  background-color: var(--hover-btn-red);
}

.goods__popup__button:active {
  background-color: var(--active-btn-red);

  box-shadow: inset 0px 3px 0px var(--shadow-color);
}

.goods__pagination__list {
  list-style: none;

  display: flex;

  width: 443px;

  justify-content: space-between;

  padding: 0;
  margin: 54px 457px 60px 540px;
}

.goods__pagination__link {
  display: block;

  color: inherit;

  background-color: var(--basic-btn-gray);
  border-radius: 3px;

  width: 50px;
  height: 50px;

  text-align: center;

  line-height: 50px;
}

.goods__next {
  width: 260px;
}

.goods__pagination__link:hover {
  background-color: var(--hover-btn-gray);
}

.goods__pagination__link:active {
  background-color: var(--active-btn-gray);

  box-shadow: inset 0px 3px 0px var(--shadow-color);
}

.goods__pagination__link--current {
  background: var(--pagination-bg);
  border: 3px solid var(--pagination-border);
  box-sizing: border-box;
  border-radius: 3px;
}